html,body{

height:100%;
margin:0;

font-family:Arial;

}

header{

background:#0d47a1;

color:white;

padding:15px;

}

h1{

margin:0;
text-align:center;

}

#searchBox{

display:flex;

justify-content:center;

margin-top:10px;

gap:10px;

}

#search{

width:300px;

padding:10px;

font-size:16px;

}

#searchButton{

padding:10px 20px;

font-size:16px;

cursor:pointer;

}

#map{

height:calc(100% - 110px);

}

#results {
    max-height: 300px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    margin-top: 5px;
}

#results div:hover {
    background: #f0f0f0;
}

.leaflet-popup-content-wrapper {
    background: #ffffff;
    color: #000000;
}

.leaflet-popup-tip {
    background: #ffffff;
}

.leaflet-popup-content {
    color: #000000;
}

.leaflet-popup-content a {
    color: #0066cc;
}

#results {
    background: white;
    color: black;
}

#results div {
    color: black;
}

#searchBox label {
    margin-right: 12px;
    color: white;
    font-size: 14px;
}

#results {
    margin-top: 10px;
}

#searchCount {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}
#airportInfo {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 300px;
    background: white;
    color: black;
    padding: 15px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#airportInfo h2 {
    margin-top: 0;
}

#themeButton {
    margin-left: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

#loginScreen {
    position: fixed;
    inset: 0;
    background: #111;
    color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    z-index: 99999;
}

#loginScreen input {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#loginScreen button {
    padding: 10px 20px;
    cursor: pointer;
}
